<form class="expense-form">
    <div class="myform-row">
        <div class="myform-group">
            <label for="date">Date</label>
            <input type="text" id="expense-date" class="form-input" />
        </div>
        <div class="myform-group">
            <label for="amount">Amount</label>
            <input type="text" id="expense-amount" class="form-input" />
        </div>
    </div>
    <div class="myform-row">
        <div class="myform-group">
            <label for="category">Category</label>
            <input type="text" id="expense-category" class="form-input" />
        </div>
        <div class="myform-group">
            <label for="notes">Notes</label>
            <input type="text" id="notes" class="form-input" />
        </div>
    </div>
    <button type="submit" class="add-button">Add Expense</button>
</form>
