@{
    ViewData["Title"] = "Login";
}

<div class="login-page">
    <div class="login-container">
        <h2 class="login-title">Login</h2>
        <form class="login-form">
            <div class="form-field">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-input" placeholder="Enter your email" />
            </div>

            <div class="form-field">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-input" placeholder="Enter your password" />
            </div>
            <button type="submit" class="signup-button">Login</button>

        </form>
        <div class="other-option">
            <p class="option-text"><span>Don't have an account?</span> <a asp-action="Signup" class="option-link">Sign Up</a></p>
        </div>
    </div>
</div>
