@model Backend.Models.User

<!--
<form method="post">
    <label>Name:</label>
    <input type="text" asp-for="Name" required />

    <label>Email:</label>
    <input type="email" asp-for="Email" required />

    <label>Password:</label>
    <input type="password" asp-for="Password" required />

    <label>Role:</label>
    <input type="text" asp-for="Role" required />

    <button type="submit">Register</button>
</form>

-->

@{
    ViewData["Title"] = "Sign Up";
}

<div class="signup-page">
    <div class="signup-container">
        <h2 class="signup-title">Sign Up</h2>
        <form class="signup-form">
            <div class="form-field">
                <label for="fullname">Full Names</label>
                <input asp-for="Name" required type="text" id="fullname" class="form-input" placeholder="Enter your full names" />
            </div>

            <div class="form-field">
                <label for="email">Email</label>
                <input asp-for="Email" required type="email" id="email" class="form-input" placeholder="Enter your email" />
            </div>

            <div class="form-field">
                <label for="password">Password</label>
                <input asp-for="Password" required type="password" id="password" class="form-input" placeholder="Enter your password" />
            </div>
            <button type="submit" class="signup-button">Sign up</button>

        </form>
        <div class="other-option">
            <p class="option-text"><span>Already have an account?</span> <a asp-action="LogIn" class="option-link">Login</a></p>
        </div>
    </div>
</div>
