
@model Backend.Models.IncomeExpenses
<div id="expense-table">
    <h2 class="table-title">EXPENSES</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>2024-01-31</td>
                <td>Rent</td>
                <td>Sh 10,000</td>
                <td>Monthly Rent</td>
                <td>
                    <div class="actions">
                        <div class="edit-icon">
                            <i class="fa-solid fa-pen" title="Edit"></i>
                        </div>

                        <div class="del-icon">
                            <i class="fa-solid fa-trash" title="Delete"></i>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2024-01-31</td>
                <td>Grocery</td>
                <td>Sh 2000</td>
                <td>Weekly groceries</td>
                <td>
                    <div class="actions">
                        <div class="edit-icon">
                            <i class="fa-solid fa-pen" title="Edit"></i>
                        </div>

                        <div class="del-icon">
                            <i class="fa-solid fa-trash" title="Delete"></i>
                        </div>
                    </div>
                </td>
            </tr>

     @foreach (var expense in Model.Expense)
      {
            <tr>
                <td>@expense.ExpenseDate</td>
                <td>@expense.Category </td>
                <td>Sh @expense.Amount</td>
                <td>@expense.Description</td>
                <td>
                    <div class="actions">
                        <button style="border:none" class="edit-button">
                            <div class="edit-icon">
                                <i class="fa-solid fa-pen" title="Edit"></i>        <!-- TODO Add dynamic links TODO edit-icon and Delete-->

                            </div>
                        </button>

                        <div class="del-icon">
                            <i class="fa-solid fa-trash" title="Delete"></i>
                        </div>
                    </div>
                </td>
            </tr>

        }

        
        </tbody>
    </table>


</div>