<form class="income-form" id="income-form" asp-controller="Income" asp-action="Add" method="post">
    <div class="form-row">
        <div class="form-group">
            <label for="date">Date</label>
            <input required type="date" id="income-date" class="form-input" name="IncomeDate" />
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input required type="number" id="income-amount" name="Amount" class="form-input" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="source">Source</label>
            <input type="text" id="income-source" name="Source" class="form-input" />
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <input required type="text" id="income-notes" name="Description" class="form-input" />
        </div>
    </div>
    <button type="submit" class="add-button">Add Income</button>
</form>
